@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Whitelist Report";
    string[] tableHeaders = new string[]
    {
    "No.",
    "Event Date ",
    "Warning Type",
    "Severity Flag ",
    "Total (Times) "
    };

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<style>
    .btn-light {
        border: 1px solid darkgrey;
        border-radius: 10px;
    }

    h {
        display: flex;
        justify-content: center;
    }

</style>
<style>
    .chkbox {
        text-align: left;
    }

    .my-dropdown {
        width: 100%;
        height: 38px;
    }

    input:disabled {
        background-color: #f2f2f2;
    }

    .btnsearch {
        font-size: 18px;
    }

    select.form-control {
        -webkit-appearance: button;
    }

    input.form-control {
        -webkit-appearance: button;
        border-radius: 10px;
    }


    #header_search {
        top: 20px;
        position: relative;
        background-color: orange;
        border: solid;
        padding: 8px 40px 8px 40px;
        border-radius: 12px;
        font-weight: 700;
    }

    .item {
        padding: 0px;
    }

    #submit {
        position: relative;
        top: 50px;
        background: lightgray;
        border: 10px double white;
        border-radius: 20px;
        padding: 0px 10px 0px 10px;
    }

    #before-submit {
        display: flex;
        justify-content: center;
    }

    #main_search {
        margin-bottom: 50px;
        padding: 30px 0;
        margin-left: 50px;
        margin-right: 50px;
        border: 3px solid #888888;
        background-color: white;
        border-radius: 50px;
    }

    .dropdown-toggle {
        border-radius: 10px;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }

    td {
        padding: 0.5em !important;
        vertical-align: middle;
    }

    .pagination li a {
        color: black !important;
    }
</style>

<div class="content contentHeader">
    <div class="container w-auto containerHeader" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col col-md-1">
            </div>
            <div class="col col-md-11">
                <a class="text-white fs-4" id="header_search">Whitelist Report</a>
            </div>
        </div>


        <div id="main_search" style="">
            @using (Html.BeginForm("WhitelistReport", "Report", FormMethod.Get, new { id = "GatewayDateRecheckDate" }))
            {
                <div class="row" style="margin-top: 45px;align-items:center;    display: flex;justify-content: space-around;padding:0vw 3vw 0vw 3vw;white-space:nowrap;">
                    <div class="col col-md-1" style="">
                        <h>Month : </h>
                    </div>

                    <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                        <input class=" form-control subsearch" type="month" id="month" name="month" value="@ViewBag.SelectedMonth" runat="server" />

                    </div>
                    <div class="col-md-1">
                        <h>Rows : </h>
                    </div>

                    <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                        <div class="form-group">
                            <!--		Show Numbers Of Rows 		-->
                            <div class="dropdown bootstrap-select form-control subsearch">
                                <select class="form-control selectpicker subsearch" id="maxRows" name="maxRows">
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-1">
                    </div>
                    <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    </div>

                </div>

                <div class="row justify-content-md-center" style="">


                    <div class="col" id="before-submit">
                        <div id="submit">
                            <button type="button" data-toggle="modal" data-target="#WaitingModal" id="btnsearch" class="btn" style="padding:0px;" onclick="updateTable('search')">
                                <img src="~/images/icon_search.png" style="width: 50px; height: 50px" class="rounded-lg  p-0" alt="Search" />
                            </button>

                            <button type="submit" id="btnclear" class="btn" data-toggle="tooltip" name="cmdButton" title="ล้างข้อมูล" value="Clear" style="padding:0px;border: 0px; background-color: transparent;">
                                <img src="~/images/icon_refresh.png" style="width: 40px; height: 38px" class="rounded-lg p-0" alt="Clear Data" />
                            </button>


                            <a id="btnSEExp" data-toggle="tooltip" title="Excel Export Report" style="cursor: pointer; padding:0px;">
                                <img src="~/images/icon_excel.png" style="width: 50px; height: 50px" class="rounded-lg  p-0" alt="Excel Export Report" />
                            </a>
                        </div>
                    </div>

                </div>

            }

        </div>



    </div>

</div>
<div class="container">

    @*<div class="row" style="background-color: #f8d5ad;width: fit-content;padding: 8px;margin-left: 3px;border-radius: 15px;font-size: 22px;font-weight: bold;margin-bottom: 15px; border:1px solid lightgrey;">

        <div class="col" style="display: flex;justify-content: center;">
            <a style="white-space:nowrap;align-items: center;display: flex;">Total Record:</a>
        </div>
        <div class="col" style="display: flex;justify-content: center;">
            <a style="white-space:nowrap;display: flex;align-items: center;background-color: rgba(255,255,255,1);padding: 10px 35px 10px 35px;border-radius: 10px;" ;="">
                <span id="recordCount"></span>
            </a>
        </div>
    </div>*@
    <div class="row" style="display:flex;justify-content:center;">
        <div class="table-responsive" style="overflow-x: hidden;width:max-content;">
            <table class="table table-hover table-responsive table-sm custom-table" id="table-pivot">
                <thead>
                    <tr>
                        <th style="width: 30%">Warning Type</th>
                        <th style="width: 8%">Critical</th>
                        <th style="width: 8%">High</th>
                        <th style="width: 8%">Low</th>
                    </tr>
                </thead>
                <tbody>
                  
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="table-responsive" style="overflow-x: hidden;">
        <table id="table-id" class="table table-striped custom-table">
            <thead>
                <tr>
                    @{
                        foreach (var head in tableHeaders)
                        {
                            <th scope="col" style="text-align:center"> @head </th>
                        }
                    }

                </tr>
            </thead>

            <tbody>
            </tbody>


        </table>


        <div class="row">
            <div class="col colPagination" style="padding-top:10px;z-index:1;">

                <nav>
                    <div class="pagination">
                        <ul style="display:flex;">
                            <li data-page="prev" id="prev" style="" onclick="updateTable('prev')">
                                <a style="color: #7a7a7a;">
                                    <img src="~/images/arrow.png" width="127" height="53" alt="Logo" align="left" style="border: 0; width: 34px;height: 34px;">
                                </a>
                            </li>
                            <li id="pageButtonsContainer"></li>
                            <li data-page="next" id="next" style="" onclick=" updateTable('next')">
                                <a style="color: #7a7a7a;">
                                    <img src="~/images/arrow.png" width="127" height="53" alt="Logo" align="left" style="border: 0;width: 34px;height: 34px;transform: scaleX(-1);">
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-2" style="z-index:2;">
                <p style="font-size:16px;font-weight:bolder;">
                    Select page :
                    @Html.DropDownList("page", new SelectListItem[] {

                    }, new
                    {
                    @class = "form-control",onchange = "updateTable()"
                    })
                </p>
            </div>
        </div>

    </div>
</div>

<script>

    function updateTable(search) {
        var month = $("#month").val();
        var row = $("#maxRows").val();
        var page = $("#page").val();
        var prevDiv = document.getElementById("prev");
        var nextDiv = document.getElementById("next");
        $.ajax({
            type: "GET",
            url: '@Url.Action("WhiteListFetchData", "Report")',
            data: {
                month: month,
                row: row,
                page: page,
                search: search,

            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                var jsondata = data.jsonData;
                var pivotdata = data.pivotData
                var pages = data.page;
                var currentpage = data.currentPage;
                var totalterminal = data.totalTerminal;
                $('#recordCount').text(totalterminal);
                $("#table-id tbody").empty();
                $("#table-pivot tbody").empty();
                if (pivotdata.length === 0) {
                    var noDataRow_pivot = $("<tr>").append($("<td colspan='5' style='text-align:center;'>").text("No data"));
                    $("#table-pivot tbody").append(noDataRow_pivot);
                }
                else{
                    $.each(pivotdata, function (index, item) {

                        var row = $("<tr>");
                        row.append($("<td>").css("text-align", "left").text(item.warn_type));
                        row.append($("<td>").css("text-align", "center").text(item.critical));
                        row.append($("<td>").css("text-align", "center").text(item.high));
                        row.append($("<td>").css("text-align", "center").text(item.low));
                        $("#table-pivot tbody").append(row);
                    });
                }
                if (jsondata.length === 0) {
                    var noDataRow = $("<tr>").append($("<td colspan='5' style='text-align:center;'>").text("No data"));
                    $("#table-id tbody").append(noDataRow);
                } else {
                    $.each(jsondata, function (index, item) {

                        var row = $("<tr>");
                        row.append($("<td>").css("text-align", "center").text(item.id));
                        row.append($("<td>").css("text-align", "center").text(item.eventdate));
                        row.append($("<td>").css("text-align", "left").text(item.warn_type));
                        row.append($("<td>").css("text-align", "center").text(item.severity_level));
                        row.append($("<td>").css("text-align", "center").text(item.total));
                        $("#table-id tbody").append(row);
                    });
                    window.scrollTo(0, 0);
                }
                generatePageButtons(pages, currentpage);
                if (pages >= 1) {

                    $("#page").empty();
                    for (var i = 1; i <= pages; i++) {
                        var option = $('<option>', {
                            value: i,
                            text: i
                        });
                        if (i === currentpage) {
                            option.prop("selected", true);
                        }
                        $("#page").append(option);

                    }
                }
                else {
                    $("#page").empty();
                    var option = $('<option>', {
                        value: 1,
                        text: 1
                    });
                    $("#page").append(option);

                }

                if ((currentpage == 1 || page == null) && pages > 1) {
                    prevDiv.style.visibility = "hidden";
                    nextDiv.style.visibility = "visible";

                }
                else if ((currentpage == pages) && pages > 1) {
                    prevDiv.style.visibility = "visible";
                    nextDiv.style.visibility = "hidden";

                }
                else if ((currentpage < pages) && pages > 1) {
                    prevDiv.style.visibility = "visible";
                    nextDiv.style.visibility = "visible";

                }
                else {
                    prevDiv.style.visibility = "hidden";
                    nextDiv.style.visibility = "hidden";

                }

            },
            error: function (error) {
                console.log("Error: " + JSON.stringify(error));
            }
        });
    }
    function generatePageButtons(pages, currentpage) {
        var pageButtonsContainer = $("#pageButtonsContainer");
        pageButtonsContainer.empty();

        var maxButtons = 5;
        var startPage = Math.max(1, currentpage - Math.floor(maxButtons / 2));
        var endPage = Math.min(startPage + maxButtons - 1, pages);

        for (var i = startPage; i <= endPage; i++) {
            var button = $("<a>").text(i).click(function () {
                $("#page").val($(this).text()); // Set #page value
                updateTable();
            });
            button.css({
                "display": "inline-flex",
                "align-items": "center",
                "justify-content": "center"
            });
            // Highlight the current page button
            if (i === currentpage) {
                button.addClass("current-page");
            }

            pageButtonsContainer.append(button);
        }
    }
    updateTable("search");
    $("#btnSEExp").click(function (e) {
        e.preventDefault();
        var month = $("#month").val();
        var rptType = "xlsx";
        $.ajax({
            type: "Get",
            dataType: "json",
            data: {
                month:month
            },
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("WhitelistReport_ExportExc", "Report")',
            success: function (result) {
                if (result.success == 'S') {
                    var url = '@Url.Action("DownloadExportFile_WhitelistReport", "Report")'
                    window.location = '@Url.Action("DownloadExportFile_WhitelistReport", "Report")/?rpttype=' + rptType;
                }
                else { alert(result.errstr); }
            },
            error: function (err) {
                alert('@ViewBag.ErrorMsg');
            }
        });
    });


  
</script>

