@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PagedList.IPagedList<SLA_Management.Models.SLAReportDaily>
@{
    ViewData["Title"] = "D1 Operation - SLA Report";
    string[] tableHeaders = new string[]{
    "ID ",
    "Action",
    "Job No",
    "Serial No",
    "Terminal ID ",
    "Problem Detail ",
    "Open Date ",
    "Close Repair Date",
    "Net Downtime ",
    "Status " ,
    };
}  <script>

  </script>
  <style>
      .chkbox{
          text-align:left;
      }
      .my-dropdown {
        width :100%;
        height:100%;
      }
      input:disabled {
        background-color: #f2f2f2;
      }
  </style>
<div class="row" style="margin-left:0px;margin-right:0px; width: 100%;">

    <div class="col-md-2">
        <p class="text-black fs-3">TerminalID</p>
    </div>
    <div class="col-md-2">
        <p class="text-black fs-3">Month</p>
    </div>
    <div class="col-md-2">
        <p class="text-black fs-3">Year</p>
    </div>
    <div class="col-md-2">
        <p class="text-black fs-3">Daily</p>
    </div>
    <div class="col-md-2">
        <p class="text-black fs-3">Date</p>
    </div>
    <div class="col-md-2">
    </div>
</div>

@using (Html.BeginForm("SlaReportDaily", "Operation", FormMethod.Get, new { id = "IndexID" }))
{
    <div class="row" style="margin-left:0px;margin-right:0px;">

        <div class="col-md-2">

            @Html.TextBox("TerminalID", ViewBag.TerminalID as string, new { @class = "form-control subsearch", @placeholder = "TerminalID" })
        </div>
        <div class="col-md-2">
                    @Html.DropDownList("Month", new SelectList(CultureInfo.CurrentCulture.DateTimeFormat.MonthNames), "Select Month", new{ @class = "my-dropdown",@required = "required"})
        </div>
        
        <div class="col-md-2"> 
                    @Html.DropDownList("Year", new SelectList(Enumerable.Range(DateTime.Now.Year - 5, 6).Reverse()), "Select Year", new{ @class = "my-dropdown",@required = "required"})
        </div>  

        <div class="col-md-2">
                    @Html.CheckBox("chk_date", false,new {@class = "chkbox"})
        </div>
        <div class="col-md-2">
            @Html.TextBox("date", ViewBag.toDate as string, new {@class = "form-control subsearch", @placeholder = "dd/mm/yyyy", @type = "date", @min = "01-01-1997", @max = "31-12-2030" ,@pattern="ddmmyyyy",@required = "required" })
        </div>
        <div class="col-md-1" style="">
            <button type="submit" id="btnsearch" class="btnsearch">search  </button>
        </div>
    </div>
}

<div class="row" style="margin-top: 15px">
    <div class="col-md-1 colRows">
        <p style="font-size:16px;font-weight:bolder;">Rows : </p>
    </div>

    <div class="col-md-1" style="padding-top: 10px;">
        <div class="form-group">
            <!--		Show Numbers Of Rows 		-->
            @Html.DropDownList("maxRows", new SelectListItem[] {
            new SelectListItem(){ Text="20", Value = "20"  },
            new SelectListItem(){ Text="50", Value = "50"  },
            new SelectListItem(){ Text="100", Value = "100" },
            new SelectListItem(){ Text="200", Value = "200"  },
            new SelectListItem(){ Text="1000", Value = "1000"  }
            }, new
            {
            @class = "form-control"
            ,
            @name = "state"

            })

        </div>
    </div>
</div>
<div class ="container-fluid">
<div class="table-responsive" style="overflow-x: hidden;">
    <table id="table-id" class="table table-striped custom-table" style="">
        <thead>
            <tr>
                @{
                    foreach (var head in tableHeaders)
                    {
                        <th scope="col"> @head </th>
                    }
                }

            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td> @Data.ID </td>
                            <td style="text-align: center;">
                                <a class="btn btn-light text-dark" id="btnEdit" data-toggle="modal" data-target="#myModal" onclick="EditButton('@Data.ID', '@Data.Open_Date', '@Data.Report_Date', '@Data.Closed_Repair_Date', '@Data.Down_Time', '@Data.AS_OpenDate', '@Data.AS_AppointmentDate', '@Data.AS_CloseRepairDate', '@Data.AS_Downtime', '@Data.Discount', '@Data.Net_Downtime', '@Data.AS_Discription', '@Data.AS_CIT_Request', '@Data.AS_Service_PM', '@Data.Status', '@Data.Terminal_ID', '@Data.Model','@Data.Serial_NO','@Data.Province','@Data.Location','@Data.Problem_Detail','@Data.Solving_Program','@Data.Service_Team','@Data.Contact_Name_Branch_CIT','@Data.Open_By','@Data.Remark')" data-toggle="tooltip" name="cmdButton" title="ดูข้อมูล" value="View" style="cursor: pointer;border-radius: 40px; letter-spacing: 2px;">View</a>
                            </td>
                            <td> @Data.Remark</td>
                            <td> @Data.Serial_NO</td>
                            <td> @Data.Terminal_ID </td>
                            <td> @Data.Problem_Detail </td>
                            <td> @Data.Open_Date </td>
                            <td> @Data.Closed_Repair_Date</td>
                            <td> @Data.Net_Downtime </td>
                            <td> @Data.Status </td>
                        </tr>
                    }

                }
                if (Model.Count == 0)
                {

                <td colspan="12" style="text-align: center;"> NO DATA </td>
                }
            }
        </tbody>


    </table>
    <div class="row">
        <div class="col-md-2" style="z-index:2;">
            <p style="font-size:16px;font-weight:bolder;">
                Select page :
                @Html.DropDownList("seletePageNow", new SelectListItem[] {

                }, new
                {
                @class = "form-control"
                })
            </p>
        </div>
        <div class="col colPagination" style="padding-top:10px;z-index:1;">

            <nav>
                <div class="pagination">
                    <li data-page="prev" id="back">
                        <a style="color: #7a7a7a;"> < </a>
                    </li>
                    <!--	Here the JS Function Will Add the Rows -->
                    <li data-page="next" id="prev">
                        <a style="color: #7a7a7a;"> > </a>
                    </li>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
    </div>

</div>
</div>
@using (Html.BeginForm("SlaReportDaily", "Operation", FormMethod.Get, new { id = "ModalTransactionID" }))
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="container-fluid" style="padding: 10px;">

                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="No">No </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("ID", ViewBag.ID as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Open_Date">Open Date </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Open_Date", ViewBag.OpenDate as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Report_Date">Report Date </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Report_Date", ViewBag.Report_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Closed_Repair_Date">ClosedRepairDate </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Closed_Repair_Date", ViewBag.Closed_Repair_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Down_Time">DownTime</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Down_Time", ViewBag.Down_Time as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_OpenDate">ASOpenDate </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_OpenDate", ViewBag.AS_OpenDate as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_AppointmentDate">ASAppointmentDate</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_AppointmentDate", ViewBag.AS_AppointmentDate as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_CloseRepairDate">ASCloseRepairDate </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_CloseRepairDate", ViewBag.AS_CloseRepairDate as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_Downtime">ASDowntime</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_Downtime", ViewBag.AS_Downtime as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Discount">Discount </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Discount", ViewBag.Discount as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Net_Downtime">Net_Downtime</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Net_Downtime", ViewBag.Net_Downtime as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_Discription">ASDiscription </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_Discription", ViewBag.AS_Discription as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_CIT_Request">AS CIT Request</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_CIT_Request", ViewBag.AS_CIT_Request as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="AS_Service_PM">AS Service PM</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("AS_Service_PM", ViewBag.AS_Service_PM as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Status">Status</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Status", ViewBag.Status as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Open_By">Open_By </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Open_By", ViewBag.Open_By as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Remark">Job No</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Remark", ViewBag.Remark as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Problem_Detail">Problem Detail</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-8 modelTextbox">
                            @Html.TextArea("Problem_Detail", ViewBag.Problem_Detail as string, new { @class = "w-100 form-control h-100", @readonly = "true",@row = 3 })
                        </div>
                    </div>
                    <div class="row">
                        <div style="padding-top : 30px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Terminal_ID">Terminal ID </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Terminal_ID", ViewBag.Terminal_ID as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Model">Model</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Model", ViewBag.Model as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Serial_NO">Serial NO </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Serial_NO", ViewBag.Serial_NO as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Province">Province</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Province", ViewBag.Province as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Location">Location </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-5 modelTextbox">
                            @Html.TextBox("Location", ViewBag.Location as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Service_Team">Service Team </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Service_Team", ViewBag.Service_Team as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Solving_Program">Solving_Program</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Solving_Program", ViewBag.Solving_Program as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Contact_Name_Branch_CIT">ContactNameBranch</label>:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Contact_Name_Branch_CIT", ViewBag.Contact_Name_Branch_CIT as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}
<script>
  
  var checkbox = document.getElementById("chk_date");
    var input1 = document.getElementById("Month");
    var input2 = document.getElementById("Year");
    var input3 = document.getElementById("date");
    if(checkbox.checked != true){
        $(document).ready(function() {
        $('#date').prop('disabled', true);
        });
    }
    else{
        $(document).ready(function() {
        $('#Month').prop('disabled', true);
        $('#Year').prop('disabled', true);
        });
    }
  
    checkbox.addEventListener("click", function() {
        if (checkbox.checked) {
            input1.disabled = true;
            input2.disabled = true;
            input3.disabled = false;
        } else {
            input1.disabled = false;
            input2.disabled = false;
            input3.disabled = true;
        }
    });
 
    var maxRows = @ViewBag.maxRows;
    var md_Count = @Model.Count;
        getPagination('#table-id', maxRows);
        function getPagination(table, row) {
            var lastPage = 1;

            $('#maxRows')
                .on('change', function (evt) {
                    $('.paginationprev').html('')

                    lastPage = 1;
                    $('.pagination')
                        .find('li')
                        .slice(1, -1)
                        .remove();
                    var trnum = 0;
                    var maxRows = parseInt($(this).val());

                    if (maxRows == 5000) {
                        $('.pagination').hide();
                    } else {
                        $('.pagination').show();
                    }

                    var totalRows = $(table + ' tbody tr').length; // numbers of rows
                    $(table + ' tr:gt(0)').each(function () {
                        // each TR in  table and not the header
                        trnum++; // Start Counter
                        if (trnum > maxRows) {
                            // if tr number gt maxRows

                            $(this).hide(); // fade it out
                        }
                        if (trnum <= maxRows) {
                            $(this).show();
                        } // else fade in Important in case if it ..
                    }); //  was fade out to fade it in
                    if (totalRows > maxRows) {
                        // if tr total rows gt max rows option
                        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                        //	numbers of pages

                        for (var i = 1; i <= pagenum;) {
                            // for each page append pagination li
                            $('.pagination #prev')
                                .before(
                                    '<li data-page="' +
                                    i +
                                    '">\
                                           <a style="color: #7a7a7a;">' +
                                    i++ +
                                    '\
                                                    </li>'
                                )
                                .show();
                        } // end for i

                        $('#back').show();



                    } else {
                        $('#back').hide();
                        $('#prev').hide();
                    }

                    // end if row count > max rows
                    $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
                    $('.pagination li').on('click', function (evt) {
                        // on click each page
                        evt.stopImmediatePropagation();
                        evt.preventDefault();
                        var pageNum = $(this).attr('data-page'); // get it's number

                        var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option



                        if (pageNum == 'prev') {
                            if (lastPage == 1) {
                                return;
                            }
                            pageNum = --lastPage;
                        }
                        if (maxRows < totalRows) {
                            if (pageNum == 'next') {
                                if (lastPage == $('.pagination li').length - 2) {
                                    return;
                                }
                                pageNum = ++lastPage;
                            }
                        }


                        lastPage = pageNum;
                        var trIndex = 0; // reset tr counter
                        $('.pagination li').removeClass('active'); // remove active class from all li
                        $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                        // $(this).addClass('active');					// add active class to the clicked
                        limitPagging();
                        $(table + ' tr:gt(0)').each(function () {
                            // each tr in table not the header
                            trIndex++; // tr index counter
                            // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                            if (
                                trIndex > maxRows * pageNum ||
                                trIndex <= maxRows * pageNum - maxRows
                            ) {
                                $(this).hide();
                            } else {
                                $(this).show();
                            } //else fade in
                        }); // end of for each tr in table


                        $('#seletePageNow').val(lastPage);




                    }); // end of on click pagination list


                    $('#seletePageNow')
                        .find('option')
                        .remove()
                        .end();


                    var pagenum = Math.ceil(md_Count / parseInt($('#maxRows').val()));


                    var select = document.getElementById("seletePageNow");
                    for (var i = parseInt(pagenum); i > 0; i--) {
                        var option = document.createElement('option');
                        option.text = option.value = i;
                        select.add(option, 0);
                        console.log(option);
                    }

                    $('#seletePageNow').val(lastPage);

                })
                .val(row)
                .change();



            $('#seletePageNow')
                .on('change', function (evt) {
                    // on click each page
                    evt.stopImmediatePropagation();
                    evt.preventDefault();
                    var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

                    var pageNum = $(this).val();

                    if (pageNum == null) pageNum = 1;





                    lastPage = pageNum;
                    var trIndex = 0; // reset tr counter
                    $('.pagination li').removeClass('active'); // remove active class from all li
                    $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                    // $(this).addClass('active');					// add active class to the clicked
                    limitPagging();
                    $(table + ' tr:gt(0)').each(function () {
                        // each tr in table not the header
                        trIndex++; // tr index counter
                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                        if (
                            trIndex > maxRows * pageNum ||
                            trIndex <= maxRows * pageNum - maxRows
                        ) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        } //else fade in
                    }); // end of for each tr in table
                }).change();



            // end of on select change

            // END OF PAGINATION
        }


        function limitPagging() {

                    if ($('.pagination li').length > 7) {
                        if ($('.pagination li.active').attr('data-page') <= 3) {
                            $('.pagination li:gt(5)').hide();
                            $('.pagination li:lt(5)').show();
                            $('.pagination [data-page="next"]').show();
                        } if ($('.pagination li.active').attr('data-page') > 3) {
                            $('.pagination li:gt(0)').hide();
                            $('.pagination [data-page="next"]').show();
                            for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
                                $('.pagination [data-page="' + i + '"]').show();

                            }

                        }
                    }
        }
                function EditButton(ID, Open_Date, Report_Date, Closed_Repair_Date, Down_Time, AS_OpenDate, AS_AppointmentDate, AS_CloseRepairDate, AS_Downtime, Discount, Net_Downtime, AS_Discription, AS_CIT_Request, AS_Service_PM, Status, Terminal_ID, Model, Serial_NO,Province,Location,Problem_Detail,Solving_Program,Service_Team,Contact_Name_Branch_CIT,Open_By,Remark) {
                            document.getElementById('ID').value = ID;
                            document.getElementById('Open_Date').value = Open_Date;
                            document.getElementById('Report_Date').value = Report_Date;
                            document.getElementById('Closed_Repair_Date').value = Closed_Repair_Date;
                            document.getElementById('Down_Time').value = Down_Time;
                            document.getElementById('AS_OpenDate').value = AS_OpenDate;
                            document.getElementById('AS_AppointmentDate').value = AS_AppointmentDate;
                            document.getElementById('AS_CloseRepairDate').value = AS_CloseRepairDate;
                            document.getElementById('AS_Downtime').value = AS_Downtime;
                            document.getElementById('Discount').value = Discount;
                            document.getElementById('Net_Downtime').value = Net_Downtime;
                            document.getElementById('AS_Discription').value = AS_Discription;
                            document.getElementById('AS_CIT_Request').value = AS_CIT_Request;
                            document.getElementById('AS_Service_PM').value = AS_Service_PM;
                            document.getElementById('Status').value = Status;
                            document.getElementById('Terminal_ID').value = Terminal_ID;
                            document.getElementById('Model').value = Model;
                            document.getElementById('Serial_NO').value = Serial_NO;
                            document.getElementById('Province').value = Province;
                            document.getElementById('Location').value = Location;
                            document.getElementById('Problem_Detail').value = Problem_Detail;
                            document.getElementById('Service_Team').value = Service_Team;
                            document.getElementById('Solving_Program').value = Solving_Program;
                            document.getElementById('Contact_Name_Branch_CIT').value = Contact_Name_Branch_CIT;
                            document.getElementById('Open_By').value = Open_By;
                            document.getElementById('Remark').value = Remark;
                        }

</script>
