@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<SLA_Management.Models.TicketManagement>
@{
    ViewData["Title"] = "Ticket Mangement";
    string[] tableHeaders = new string[]{
    "Ticket No",
    "Action",
    "Serial No",
    "Terminal ID",
    "Open Date",
    "Problem Detail",
    "Main Problem",
    "Status" ,
    };
}  <script>

  </script>
  <style>
      .chkbox{
          text-align:left;
      }
      .my-dropdown {
        width :100%;
        height:38px;
      }
      input:disabled {
        background-color: #f2f2f2;
      }
      .btnsearch{
        font-size:18px;
      }

    select.form-control {
        -webkit-appearance: button;
    }

    input.form-control {
        -webkit-appearance: button;
        border-radius: 10px;
    }


    #header_search {
        top: 20px;
        position: relative;
        background-color: orange;
        border: solid;
        padding: 8px 40px 8px 40px;
        border-radius: 12px;
        font-weight: 700;
    }

    .item {
        padding: 0px;
    }

    #submit {
        position: relative;
        top: 50px;
        background: lightgray;
        border: 10px double white;
        border-radius: 20px;
        padding: 0px 10px 0px 10px;
    }

    #before-submit {
        display: flex;
        justify-content: center;
    }

    #main_search {
        margin-bottom: 50px;
        padding: 30px 0;
        margin-left: 50px;
        margin-right: 50px;
        border: 3px solid #888888;
        background-color: white;
        border-radius: 50px;
    }

    .dropdown-toggle {
        border-radius: 10px;
    }

    th {
        text-align: center;
    }
  </style>

<div class="container w-auto containerHeader">
    <div class="row">
        <div class="col col-md-1">
        </div>
        <div class="col col-md-4">
            <a class="text-white fs-4" id="header_search">Ticket Management</a>
        </div>
    </div>

    <div id="main_search">
        @using (Html.BeginForm("TicketManagement", "Operation", FormMethod.Get, new { id = "InsertFileCOMLogRecheckID" }))
        {
            <div class="row" style="margin-top: 45px;align-items:center; display: flex;justify-content: space-around;padding:0vw 3vw 0vw 3vw;white-space:nowrap;">

                <div class="col-md-1">
                    <label>Ticket No : </label>
                </div>
                 <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    <select class="selectpicker form-control subsearch" id="jobno" name="jobno" data-live-search="true">
                        <option data-tokens="" value="">--</option>
                        @foreach (var item in ViewBag.CurrentJobNo)
                        {
                            if (@item.Job_No != @ViewBag.JobNo)
                            {
                                <option value=@item.Job_No data-tokens=@item.Job_No>@item.Job_No</option>
                            }
                            else
                            {
                                <option value=@item.Job_No data-tokens=@item.Job_No selected>@item.Job_No</option>

                            }
                        }
                    </select>
                </div>


                <div class="col-md-1">
                    <label>From Date : </label>

                </div>
               
                <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    @Html.TextBox("fromdate", ViewBag.CurrentFr as string, new { @class = "form-control subsearch",@type = "Date", @placeholder = "yyyy-mm-dd" })
                </div>

                <div class="col-md-1">
                    <label>To Date : </label>
                </div>
                <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    @Html.TextBox("todate", ViewBag.CurrentTo as string, new { @class = "form-control subsearch", @type = "Date", @placeholder = "yyyy-mm-dd" })
                </div>
            </div>

            <div class="row" style="margin-top: 45px;align-items:center; display: flex;justify-content: space-around;padding:0vw 3vw 0vw 3vw;white-space:nowrap;">
                <div class="col-md-1">
                    <label>Terminal ID : </label>
                </div>
                <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    <select class="selectpicker form-control subsearch" id="termid" name="termid" data-live-search="true">
                        <option data-tokens="" value="">--</option>
                        @foreach (var item in ViewBag.CurrentTermID)
                        {
                            if (@item.TERM_ID != @ViewBag.TERM_ID)
                            {
                                <option value=@item.TERM_ID data-tokens=@item.TERM_ID>@item.TERM_SEQ : @item.TERM_ID : @item.TERM_NAME</option>
                            }
                            else
                            {
                                <option value=@item.TERM_ID data-tokens=@item.TERM_ID selected>@item.TERM_SEQ : @item.TERM_ID : @item.TERM_NAME</option>

                            }
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label>MainProblem : </label>
                </div>
                <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    <select class="selectpicker form-control subsearch" id="mainproblem" name="mainproblem" data-live-search="true">
                        <option data-tokens="" value="">--</option>
                        @{
                            if (ViewBag.mainproblem == "Software")
                            {
                                <option data-tokens="Software" selected value="Software">Software</option>
                                <option data-tokens="Hardware" value="Hardware">Hardware</option>
                                <option data-tokens="Other" value="Other">Other</option>
                                <option data-tokens="Network" value="Network">Network</option>
                            }
                            else if (ViewBag.mainproblem == "Hardware")
                            {
                                <option data-tokens="Software" value="Software">Software</option>
                                <option data-tokens="Hardware" selected value="Hardware"></option>
                                <option data-tokens="Other" value="Other">Other</option>
                                <option data-tokens="Network" value="Network">Network</option>
                            }
                            else if (ViewBag.mainproblem == "Other")
                            {
                                <option data-tokens="Software" value="Software">Software</option>
                                <option data-tokens="Hardware" value="Hardware">Hardware</option>
                                <option data-tokens="Other" selected value="Other">Other</option>
                                <option data-tokens="Network" value="Network">Network</option>
                            }
                            else if (ViewBag.mainproblem == "Network")
                            {
                                <option data-tokens="Software" value="Software">Software</option>
                                <option data-tokens="Hardware" value="Hardware">Hardware</option>
                                <option data-tokens="Other" value="Other">Other</option>
                                <option data-tokens="Network" selected value="Network">Network</option>
                            }
                            else
                            {
                                <option data-tokens="Software" value="Software">Software</option>
                                <option data-tokens="Hardware" value="Hardware">Hardware</option>
                                <option data-tokens="Other" value="Other">Other</option>
                                <option data-tokens="Network" value="Network">Network</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label>Terminal Type : </label>
                </div>
                <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    <select class="selectpicker form-control subsearch" id="terminaltype" name="terminaltype" data-live-search="true">
                        <option data-tokens="" value="">--</option>
                        @{
                            if (ViewBag.terminaltype == "G262")
                            {
                                <option data-tokens="ADM" selected value="G262">ADM</option>
                                <option data-tokens="ATM" value="G165">ATM</option>
                            }
                            else if (ViewBag.terminaltype == "G165")
                            {
                                <option data-tokens="ADM" value="G262">ADM</option>
                                <option data-tokens="ATM" selected value="G165">ATM</option>
                            }
                            else
                            {
                                <option data-tokens="ADM" value="G262">ADM</option>
                                <option data-tokens="ATM" value="G165">ATM</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 45px;align-items:center; display: flex;justify-content: space-around;padding:0vw 3vw 0vw 3vw;white-space:nowrap;">
                <div class="col-md-1">
                    <label>Rows : </label>
                </div>
                <div class="item col-md-2" style="border-color:#ced4da; background-color: transparent;">
                    <div class="form-group">
                        @Html.DropDownList("maxRows", new SelectListItem[] {
                    new SelectListItem(){ Text="50", Value = "50"  },
                    new SelectListItem(){ Text="100", Value = "100" },
                    new SelectListItem(){ Text="200", Value = "200"  },
                    new SelectListItem(){ Text="1000", Value = "1000"  }
                    }, new {@class = "form-control selectpicker subsearch" , @name = "state"})
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                </div>
            </div>



            <div class="row">

                <div class="col" id="before-submit">
                    <div id="submit">

                        <button type="submit" data-toggle="modal" data-target="#WaitingModal" id="btnsearch" class="btn" style="padding:0px;">
                            <img src="~/images/icon_search.png" style="width: 50px; height: 50px" class="rounded-lg  p-0" alt="Search" />
                        </button>




                        <button type="submit" id="btnclear" data-toggle="modal" data-target="#WaitingModal" onclick="clearFunction()" class="btn" data-toggle="tooltip" name="cmdButton" title="ล้างข้อมูล" value="Clear" style="padding:0px;border: 0px; background-color: transparent;">
                            <img src="~/images/icon_delete.png" style="width: 50px; height: 50px" class="rounded-lg p-0" alt="Clear Data" />
                        </button>

                    </div>
                </div>
            </div>
        }
    </div>

</div>

<div class ="container-fluid">
<div class="table-responsive" style="overflow-x: hidden;">
    <table id="table-id" class="table table-striped custom-table" style="">
        <thead>
            <tr>
                    @{
                        foreach (var head in tableHeaders)
                        {
                            if(head != "Problem Detail")
                            {
                                <th style="text-align:center;" scope="col"> @head </th>
                            }
                            else
                            {
                                <th style="text-align:center;display:table-cell;max-width: 200px;overflow: hidden; white-space:nowrap;text-overflow:ellipsis;" scope="col"> @head </th>
                            }
                        }
                }

            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                                <td style="text-align:center;"> @Data.Job_No </td>
                            <td style="text-align: center;">
                                    <a class="btn btn-light text-dark" id="btnEdit" data-toggle="modal" data-target="#myModal" onclick="EditButton('@Data.PROVINCE','@Data.MODEL_NAME','@Data.Terminal_Status','@Data.CIT_Request','@Data.TechSupport','@Data.Part_of_use','@Data.Sub_Solution','@Data.Main_Problem','@Data.Zone_Area','@Data.Assign_By','@Data.Open_Name','@Data.Service_Type','@Data.Aservice_Status','@Data.Job_No','@Data.Remark','@Data.Open_By','@Data.Contact_Name_Branch_CIT','@Data.Service_Team','@Data.Solving_Program','@Data.Problem_Detail','@Data.TERM_NAME','@Data.TERM_SEQ','@Data.TERM_ID','@Data.Status','@Data.Actual_Down_Time','@Data.Actual_Closed_Repair_Date','@Data.Actual_Appointment_Date','@Data.Actual_Open_Date','@Data.Down_Time','@Data.Closed_Repair_Date','@Data.Appointment_Date','@Data.Open_Date')"
                               data-toggle="tooltip" name="cmdButton" title="ดูข้อมูล" value="View" style="cursor: pointer;border-radius: 40px; letter-spacing: 2px;">View</a>
                            </td>
                            <td style="text-align:center;"> @Data.TERM_SEQ</td>
                                <td style="text-align:center;"> @Data.TERM_ID </td>
                                <td> @Data.Open_Date</td>
                                <td style="display:table-cell;max-width: 200px;overflow: hidden; white-space:nowrap;text-overflow:ellipsis;"> @Data.Problem_Detail </td>
                                <td style="text-align:center;"> @Data.Main_Problem </td>
                                <td style="text-align:center;"> @Data.Status </td>
                        </tr>
                    }

                }
                    if (ViewBag.countrow == 0)
                {

                <td colspan="12" style="text-align: center;"> NO DATA </td>
                }
            }
        </tbody>


    </table>
    <div class="row">
        <div class="col-md-2" style="z-index:2;">
            <p style="font-size:16px;font-weight:bolder;">
                Select page :
                @Html.DropDownList("seletePageNow", new SelectListItem[] {

                }, new
                {
                @class = "form-control"
                })
            </p>
        </div>
        <div class="col colPagination" style="padding-top:10px;z-index:1;">

            <nav>
                <div class="pagination">
                    <li data-page="prev" id="back">
                        <a style="color: #7a7a7a;"> < </a>
                    </li>
                    <!--	Here the JS Function Will Add the Rows -->
                    <li data-page="next" id="prev">
                        <a style="color: #7a7a7a;"> > </a>
                    </li>

                </div>
            </nav>
        </div>
    </div>
    <div class="row">
    </div>

</div>
</div>
@using (Html.BeginForm("TicketManagement", "Operation", FormMethod.Get, new { id = "ModalTransactionID" }))
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="container" style="padding: 10px;">
                    <div style="padding-top:45px;"></div>
                    <div class ="row">
                        <div class="col-md-3 modelTopic">
                            <p onclick="myFunction2()" class="text-center align-middle" style="font-size:20px; background-color:white; border-radius:40px;" id="Terminal_Info">Terminal Info </p>
                        </div>
                        <div class="col-md-3 modelTopic">
                            <p onclick="myFunction()" class="text-center align-middle" style="text-align:center; font-size:20px; background-color:#f3cb9b; border-radius:40px;" id="Downtime_Info">Ticket Information </p>
                        </div>
                        <div class="col-md-2 modelTopic">

                        </div>
                       <div class="col-md-1 modelTopic">
                            <p class="text-center align-middle" style="font-size:20px;">Status :</p> 
                       </div>
                       <div class="col-md-2 modelTextbox">
                            @Html.TextBox("Status", ViewBag.Status as string, new { @class = "w-100 form-control", @readonly = "true" })
                       </div>
                        
                    </div>
                <div id="problem-info" style="display:block;">
                    <div class="row" style="padding-top:15px;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="No">Ticket No </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Job_No", ViewBag.Job_No as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Open_Date">Open Date </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Open_Date", ViewBag.OpenDate as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                          <div class="col-md-2 modelTopic">
                            <label for="Closed_Repair_Date">ClosedRepairDate </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Closed_Repair_Date", ViewBag.Closed_Repair_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Appointment_Date">AppointmentDate</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Appointment_Date", ViewBag.Appointment_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Down_Time">Downtime</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Down_Time", ViewBag.Down_Time as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        
                    </div>
                        <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Actual_Open_Date">ActualOpenDate</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Actual_Open_Date", ViewBag.Actual_Open_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Actual_Appointment_Date">ActualAppointmentDate: </label>
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Actual_Appointment_Date", ViewBag.Actual_Appointment_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>  
                    </div>
                    @*<div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Actual_Closed_Repair_Date">ActualClosedRepairDate </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-8 modelTextbox">
                            @Html.TextArea("Actual_Closed_Repair_Date", ViewBag.Actual_Closed_Repair_Date as string, new { @class = "w-100 form-control", @readonly = "true", @style="height: 93px;" })
                        </div>
                        <div style ="display:none;">
                        <div class="col-md-2 modelTopic">
                                    <label for="Actual_Down_Time">ActualDownTime</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                    @Html.TextBox("Actual_Down_Time", ViewBag.Actual_Down_Time as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Actual_Closed_Repair_Date">ActualClosedRepairDate: </label>
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Actual_Closed_Repair_Date", ViewBag.Actual_Closed_Repair_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Actual_Down_Time">ActualDownTime:</label>
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Actual_Down_Time", ViewBag.Actual_Down_Time as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Solving_Program">SolvingProgram </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Solving_Program", ViewBag.Solving_Program as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Service_Team">ServiceTeam</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Service_Team", ViewBag.Service_Team as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                   
                  
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                                <label for="Contact_Name_Branch_CIT">Contact</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Contact_Name_Branch_CIT", ViewBag.Contact_Name_Branch_CIT as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Open_By">OpenBy</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Open_By", ViewBag.Open_By as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                    </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Remark">Remark</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Remark", ViewBag.Remark as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Aservice_Status">AserviceStatus</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Aservice_Status", ViewBag.Aservice_Status as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Service_Type">ServiceType</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Service_Type", ViewBag.Service_Type as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Open_Name">OpenName</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Open_Name", ViewBag.Open_Name as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Assign_By">AssignBy</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Assign_By", ViewBag.Assign_By as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Zone_Area">ZoneArea</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Zone_Area", ViewBag.Zone_Area as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Main_Problem">MainProblem</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Main_Problem", ViewBag.Main_Problem as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Sub_Solution">SubSolution</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Sub_Solution", ViewBag.Sub_Solution as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Part_of_use">Part</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Part_of_use", ViewBag.Part_of_use as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="TechSupport">TechSupport</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("TechSupport", ViewBag.TechSupport as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="CIT_Request">CITRequest</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("CIT_Request", ViewBag.CIT_Request as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                            <div class="col-md-2 modelTopic">
                                <label for="Terminal_Status">Terminal_Status</label>&nbsp;:&nbsp;
                            </div>
                            <div class="col-md-3 modelTextbox">
                                @Html.TextBox("Terminal_Status", ViewBag.Terminal_Status as string, new { @class = "w-100 form-control", @readonly = "true" })
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Problem_Detail">Problem Detail</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-8 modelTextbox">
                            @Html.TextArea("Problem_Detail", ViewBag.Problem_Detail as string, new { @class = "w-100 form-control h-100", @readonly = "true", @style="height: 93px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div style="padding-top : 30px;"></div>
                    </div>
                </div>
                <div id="terminal-info" style="display:none; ">
                    <div class="row" style="padding-top:15px;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Terminal_ID">Terminal ID </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("TERM_ID", ViewBag.TERM_ID as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Model">Model</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("MODEL_NAME", ViewBag.MODEL_NAME as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Serial_NO">Serial NO </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("TERM_SEQ", ViewBag.TERM_SEQ as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Province">Province</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                                @Html.TextBox("PROVINCE", ViewBag.PROVINCE as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Location">Location </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-8 modelTextbox">
                                @Html.TextBox("TERM_NAME", ViewBag.TERM_NAME as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                </div>
                    <div class="row" style="display:none;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Service_Team">Service Team </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Service_Team", ViewBag.Service_Team as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Solving_Program">Solving_Program</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Solving_Program", ViewBag.Solving_Program as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                         <div class="col-md-2 modelTopic">
                            <label for="Appointment_Date">Appointment_Date</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Appointment_Date", ViewBag.Appointment_Date as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                    </div>
                    <div class="row" style="display:none;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Contact_Name_Branch_CIT">ContactNameBranch</label>:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Contact_Name_Branch_CIT", ViewBag.Contact_Name_Branch_CIT as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Net_Downtime">Net_Downtime</label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Net_Downtime", ViewBag.Net_Downtime as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>

                    </div>
                     <div class="row" style="display:none;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2 modelTopic">
                            <label for="Discount">Discount </label>&nbsp;:&nbsp;
                        </div>
                        <div class="col-md-3 modelTextbox">
                            @Html.TextBox("Discount", ViewBag.Discount as string, new { @class = "w-100 form-control", @readonly = "true" })
                        </div>
                        
                    </div>
                <div style="padding-bottom:45px;"></div>
                </div>
            </div>
        </div>
    </div>

}
<script>
  

    var detail_downtime = document.getElementById("problem-info");
    var head_downtime = document.getElementById("Downtime_Info");
    var head_terminal = document.getElementById("Terminal_Info");
    var detail_terminal = document.getElementById("terminal-info");
    function myFunction() {
        detail_downtime.style.display = "block";
        detail_terminal.style.display = "none";
        head_downtime.style.backgroundColor = "#f3cb9b";
        head_terminal.style.backgroundColor = "white";
    }
    function myFunction2() {
        detail_terminal.style.display = "block";
        detail_downtime.style.display = "none";
        head_terminal.style.backgroundColor = "#f3cb9b";
        head_downtime.style.backgroundColor = "white";
}
    var maxRows = @ViewBag.maxRows;
    var md_Count = @ViewBag.countrow;
        getPagination('#table-id', maxRows);
        function getPagination(table, row) {
            var lastPage = 1;

            $('#maxRows')
                .on('change', function (evt) {
                    $('.paginationprev').html('')

                    lastPage = 1;
                    $('.pagination')
                        .find('li')
                        .slice(1, -1)
                        .remove();
                    var trnum = 0;
                    var maxRows = parseInt($(this).val());

                    if (maxRows == 5000) {
                        $('.pagination').hide();
                    } else {
                        $('.pagination').show();
                    }

                    var totalRows = $(table + ' tbody tr').length; // numbers of rows
                    $(table + ' tr:gt(0)').each(function () {
                        // each TR in  table and not the header
                        trnum++; // Start Counter
                        if (trnum > maxRows) {
                            // if tr number gt maxRows

                            $(this).hide(); // fade it out
                        }
                        if (trnum <= maxRows) {
                            $(this).show();
                        } // else fade in Important in case if it ..
                    }); //  was fade out to fade it in
                    if (totalRows > maxRows) {
                        // if tr total rows gt max rows option
                        var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
                        //	numbers of pages

                        for (var i = 1; i <= pagenum;) {
                            // for each page append pagination li
                            $('.pagination #prev')
                                .before(
                                    '<li data-page="' +
                                    i +
                                    '">\
                                           <a style="color: #7a7a7a;">' +
                                    i++ +
                                    '\
                                                    </li>'
                                )
                                .show();
                        } // end for i

                        $('#back').show();



                    } else {
                        $('#back').hide();
                        $('#prev').hide();
                    }

                    // end if row count > max rows
                    $('.pagination [data-page="1"]').addClass('active'); // add active class to the first li
                    $('.pagination li').on('click', function (evt) {
                        // on click each page
                        evt.stopImmediatePropagation();
                        evt.preventDefault();
                        var pageNum = $(this).attr('data-page'); // get it's number

                        var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option



                        if (pageNum == 'prev') {
                            if (lastPage == 1) {
                                return;
                            }
                            pageNum = --lastPage;
                        }
                        if (maxRows < totalRows) {
                            if (pageNum == 'next') {
                                if (lastPage == $('.pagination li').length - 2) {
                                    return;
                                }
                                pageNum = ++lastPage;
                            }
                        }


                        lastPage = pageNum;
                        var trIndex = 0; // reset tr counter
                        $('.pagination li').removeClass('active'); // remove active class from all li
                        $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                        // $(this).addClass('active');					// add active class to the clicked
                        limitPagging();
                        $(table + ' tr:gt(0)').each(function () {
                            // each tr in table not the header
                            trIndex++; // tr index counter
                            // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                            if (
                                trIndex > maxRows * pageNum ||
                                trIndex <= maxRows * pageNum - maxRows
                            ) {
                                $(this).hide();
                            } else {
                                $(this).show();
                            } //else fade in
                        }); // end of for each tr in table


                        $('#seletePageNow').val(lastPage);




                    }); // end of on click pagination list


                    $('#seletePageNow')
                        .find('option')
                        .remove()
                        .end();


                    var pagenum = Math.ceil(md_Count / parseInt($('#maxRows').val()));


                    var select = document.getElementById("seletePageNow");
                    for (var i = parseInt(pagenum); i > 0; i--) {
                        var option = document.createElement('option');
                        option.text = option.value = i;
                        select.add(option, 0);
                        console.log(option);
                    }

                    $('#seletePageNow').val(lastPage);

                })
                .val(row)
                .change();



            $('#seletePageNow')
                .on('change', function (evt) {
                    // on click each page
                    evt.stopImmediatePropagation();
                    evt.preventDefault();
                    var maxRows = parseInt($('#maxRows').val()); // get Max Rows from select option

                    var pageNum = $(this).val();

                    if (pageNum == null) pageNum = 1;





                    lastPage = pageNum;
                    var trIndex = 0; // reset tr counter
                    $('.pagination li').removeClass('active'); // remove active class from all li
                    $('.pagination [data-page="' + lastPage + '"]').addClass('active'); // add active class to the clicked
                    // $(this).addClass('active');					// add active class to the clicked
                    limitPagging();
                    $(table + ' tr:gt(0)').each(function () {
                        // each tr in table not the header
                        trIndex++; // tr index counter
                        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
                        if (
                            trIndex > maxRows * pageNum ||
                            trIndex <= maxRows * pageNum - maxRows
                        ) {
                            $(this).hide();
                        } else {
                            $(this).show();
                        } //else fade in
                    }); // end of for each tr in table
                }).change();



            // end of on select change

            // END OF PAGINATION
        }


        function limitPagging() {

                    if ($('.pagination li').length > 7) {
                        if ($('.pagination li.active').attr('data-page') <= 3) {
                            $('.pagination li:gt(5)').hide();
                            $('.pagination li:lt(5)').show();
                            $('.pagination [data-page="next"]').show();
                        } if ($('.pagination li.active').attr('data-page') > 3) {
                            $('.pagination li:gt(0)').hide();
                            $('.pagination [data-page="next"]').show();
                            for (let i = (parseInt($('.pagination li.active').attr('data-page')) - 2); i <= (parseInt($('.pagination li.active').attr('data-page')) + 2); i++) {
                                $('.pagination [data-page="' + i + '"]').show();

                            }

                        }
                    }
        }
    function EditButton(PROVINCE, MODEL_NAME, Terminal_Status, CIT_Request, TechSupport, Part_of_use, Sub_Solution, Main_Problem, Zone_Area, Assign_By, Open_Name, Service_Type, Aservice_Status, Job_No, Remark, Open_By, Contact_Name_Branch_CIT, Service_Team, Solving_Program, Problem_Detail, TERM_NAME, TERM_SEQ, TERM_ID, Status, Actual_Down_Time, Actual_Closed_Repair_Date, Actual_Appointment_Date, Actual_Open_Date, Down_Time, Closed_Repair_Date, Appointment_Date, Open_Date) {
        document.getElementById('Open_Date').value = Open_Date;
        document.getElementById('Appointment_Date').value = Appointment_Date;
        document.getElementById('Closed_Repair_Date').value = Closed_Repair_Date;
        document.getElementById('Down_Time').value = Down_Time;
        document.getElementById('Actual_Open_Date').value = Actual_Open_Date;
        document.getElementById('Actual_Appointment_Date').value = Actual_Appointment_Date;
        document.getElementById('Actual_Closed_Repair_Date').value = Actual_Closed_Repair_Date;
        document.getElementById('Actual_Down_Time').value = Actual_Down_Time;
        document.getElementById('Status').value = Status;
        document.getElementById('TERM_ID').value = TERM_ID;
        document.getElementById('TERM_SEQ').value = TERM_SEQ;
        document.getElementById('TERM_NAME').value = TERM_NAME;
        document.getElementById('MODEL_NAME').value = MODEL_NAME;
        document.getElementById('PROVINCE').value = PROVINCE;
        document.getElementById('Problem_Detail').value = Problem_Detail;
        document.getElementById('Solving_Program').value = Solving_Program;
        document.getElementById('Service_Team').value = Service_Team;
        document.getElementById('Contact_Name_Branch_CIT').value = Contact_Name_Branch_CIT;
        document.getElementById('Open_By').value = Open_By;
        document.getElementById('Remark').value = Remark;
        document.getElementById('Job_No').value = Job_No;
        document.getElementById('Aservice_Status').value = Aservice_Status;
        document.getElementById('Service_Type').value = Service_Type;
        document.getElementById('Open_Name').value = Open_Name;
        document.getElementById('Assign_By').value = Assign_By;
        document.getElementById('Zone_Area').value = Zone_Area;
        document.getElementById('Main_Problem').value = Main_Problem;
        document.getElementById('Sub_Solution').value = Sub_Solution;
        document.getElementById('Part_of_use').value = Part_of_use;
        document.getElementById('TechSupport').value = TechSupport;
        document.getElementById('CIT_Request').value = CIT_Request;
        document.getElementById('Terminal_Status').value = Terminal_Status;
    }
    function clearFunction() {
        document.getElementById("termid").value = "";
        document.getElementById("fromdate").value = "";
        document.getElementById("todate").value = "";
        document.getElementById("mainproblem").value = "";
        document.getElementById("terminaltype").value = "";
    }

</script>
