@{
    ViewData["Title"] = "Home Page";
}
<style>
    #comlogbox {
        text-align: center;
        display: flex !important;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10px;
        font-weight: 700;
        border-radius: 15px 15px 15px 15px;
        background-color: rgb(255,255,255);
        color: black;
        flex-wrap: wrap;
        font-size: 35px;
        height: 75px;
        align-content: center;
        border-style: ridge;
        border-color:gray;
        border:outset;
    }
     
   
</style>

<div class="text-center" id="bg">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="container-fluid">
        
        <div class="row" style="">
            <div class="col-md-6">
                <div class="row" style="margin-left:35px;">
                @*    <div class="col-md-1" style="width:35px;">

                    </div>*@
                    <div class="col-md-11" style="height: 60px; width: 305px;border-radius:15px; background-color: rgba(255,255,255,0.65);padding-left:35px;padding-right:35px;">
                        @*time*@
                        <div style="border-radius: 15px;background-color: rgba(255,255,255,0.65);">
                            <div id="datetime" style="text-align: left;display: flex!important;justify-content: flex-start;align-items: flex-start;font-size: 25px;padding-left: 10px;padding-right: initial;margin-top: 12.5px;font-weight: 700;font-size: 23px;">
                        </div>
                        
                        </div>                    
                    </div>
                    
                </div>
                <div class="row" id="maincard-status" style="margin-left:35px; margin-top:15px; border-radius:15px; background-color: rgba(255,255,255,0.65);">
                <div class="col-6">
                    <div class="row">
                            <div class="col-1" style="width:35px;">
                        
                        </div>
                            <div class="col-10" style="text-align:left;font-size: 1.1vw;font-weight: 700;color:rgb(19,163,5);">
                            จำนวนเครื่อง Online : @ViewBag.onlineTotal เครื่อง
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-1" style="width:35px;">

                        </div>
                            <div class="col-5" style="border:outset; text-align: center;display: flex!important;justify-content: center;align-items: flex-start;padding-left: 10px;font-weight: 700;border-radius: 15px 0px 0px 15px;background-color: rgb(19,163,5);color: whitesmoke;flex-wrap: wrap;font-size: 35px;height: 75px; align-content: center;">
                            @ViewBag.onlineADM
                        </div>
                            <div class="col-5" style="border:outset; text-align: center;display: flex!important;justify-content: center;align-items: flex-start;padding-left: 10px;font-weight: 700;border-radius: 0px 15px 15px 0px;background-color: rgb(19,163,5);color: whitesmoke;flex-wrap: wrap;font-size: 35px;height: 75px; align-content: center;">
                            @ViewBag.onlineATM
                        </div>
                            <div class="col-1" style="width:35px;">

                        </div>
                    </div>
                    <div class="row">
                            <div class="col-1" style="width:35px;">

                        </div>
                            <div class="col-5" style="text-align:center;font-size: 1.1vw;font-weight: 700;color:rgb(19,163,5);">
                            ADM
                        </div>
                            <div class="col-5" style="text-align:center;font-size: 1.1vw;font-weight: 700;color:rgb(19,163,5);">
                            ATM
                        </div>
                            <div class="col-1" style="width:35px;">
                    
                    </div>
                        </div>
                </div>
                <div class="col-6">
                        <div class="row">
                            <div class="col-1">

                            </div>
                            <div class="col-10" style="text-align:left;font-size: 1.1vw;font-weight: 700;color:rgb(252,42,77);">
                                จำนวนเครื่อง Offline : @ViewBag.offlineTotal เครื่อง
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1" style="width:35px;">
                            </div>
                            <div class="col-5" style="border:outset; text-align: center;display: flex!important;justify-content: center;align-items: flex-start;padding-left: 10px;font-weight: 700;border-radius: 15px 0px 0px 15px;background-color: rgb(252,42,77);color: whitesmoke;flex-wrap: wrap;font-size: 35px;height: 75px; align-content: center;">
                                @ViewBag.OfflineADM
                            </div>
                            <div class="col-5" style="border:outset; text-align: center;display: flex!important;justify-content: center;align-items: flex-start;padding-left: 10px;font-weight: 700;border-radius: 0px 15px 15px 0px;background-color: rgb(252,42,77);color: whitesmoke;flex-wrap: wrap;font-size: 35px;height: 75px; align-content: center;">
                                @ViewBag.OfflineATM
                            </div>
                            <div class="col-1" style="width:35px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1" style="width:35px;">
                            </div>
                            <div class="col-5" style="text-align:center;font-size: 1.1vw;font-weight: 700;color:rgb(252,42,77);">
                                ADM
                            </div>
                            <div class="col-5" style="text-align:center;font-size: 1.1vw;font-weight: 700;color:rgb(252,42,77);">
                                ATM
                            </div>
                            <div class="col-1" style="width:35px;">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" id="maincard-comlog" style="margin-left:35px; margin-top:15px; border-radius:15px; background-color: rgba(255,255,255,0.65);">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1" style="width:35px;">

                        </div>
                            <div class="col-10" style="text-align:left;font-size: 1.1vw;font-weight: 700;color:black;">
                                จำนวน ComLog ที่อัพโหลด : @ViewBag.comlogTotal เครื่อง
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1" style="width:35px;">

                        </div>
                        <div class="col-5" id="comlogbox">
                            @ViewBag.comlogADM
                        </div>
                        <div class="col-1"></div>
                        <div class="col-5" id="comlogbox">
                            @ViewBag.comlogATM
                        </div>
                         <div class="col-1" style="width:35px;">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1" style="width:35px;">
                        </div>
                            <div class="col-5" style="text-align:center;font-size: 1.1vw;font-weight: 700;color:black;">
                            ADM
                        </div>
                        <div class="col-1"></div>
                            <div class="col-5" style="text-align:center;font-size: 1.1vw;font-weight: 700;color:black;">
                            ATM
                        </div>
                        <div class="col-1" style="width:35px;">
                        </div>
                    </div>
                    <div class="row" id="maincard-ps" style="padding-top:15px;">
                         <div class="col-1" style="width:35px;">
                         </div>
                         <div class="col-11">
                            <div style="display:flex;justify-content:left;  ">
                                <p style="text-align:left;font-size: 1.1vw;font-weight: 700;color:black; background-color:rgba(255,255,255,0.7);border-radius:20px;padding:10px;">**หมายเหตุ : ข้อมูลอัพเดทล่าสุดใน ณ วันที่ @ViewBag.DateNow</p>
                            </div>
                         </div>

                    </div>
                </div>
            </div>   
            @*<div class="row" id="maincard-ps" style="">
                <div class="col-1" style="width:35px;">

                </div>
                <div class="col-11">
                        <div style="display:flex;justify-content:left;  ">
                            <p style="text-align:left;font-size: 1.1vw;font-weight: 700;color:black;">**หมายเหตุ : ข้อมูลอัพเดทล่าสุดใน ณ วันที่ @ViewBag.DateNow</p>
                        </div>
                        
                </div>

            </div>*@
            </div>
            <div class="col-md-6">
                <div class="row" style="justify-content: flex-end;margin-top: 40px;">
                    <div class="col-12" style="width:70%;">
                        <img src="~/images/Pic_Welcome.png" alt="Logo" align="right" style="height:auto;width:100%;max-width:23vw;">
                    </div>
                </div>
                <div class="row" style="justify-content: flex-end;">
                    <div class="col-12">
                        <img src="~/images/PIC_Computer.png" alt="Logo" align="right" style="height:auto;width:100%;max-width:33vw;">
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="row" style="padding-top:50px">
        <div class="col-md-1">

        </div>
        <div class="col-md-6">
             <img src="~/images/CYBER-SECURITY.jpg" alt="Logo" align="left" style="height:100%;width:100%;" >
        </div>
        <div class="col-md-5">
            <h1 class="text-center align-middle" style="color:orange;margin-top: 25%;width: 50%;padding: 10px;font-weight: 400;font-size: 100px;">WELCOME</h1>
        </div>
    </div>*@
</div>

<script>

    function updateDateTime() {
      var now = new Date();
      var datetimeElement = document.getElementById('datetime');
      var year = now.getFullYear();
      var month = String(now.getMonth() + 1).padStart(2, '0');
      var day = String(now.getDate()).padStart(2, '0');
      var hours = String(now.getHours()).padStart(2, '0');
      var minutes = String(now.getMinutes()).padStart(2, '0');
      var seconds = String(now.getSeconds()).padStart(2, '0');

        var formattedDateTime = day + '-' + month + '-' + year + '      ' + hours + ':' + minutes + ':' + seconds;
      datetimeElement.textContent = formattedDateTime;
    }

    // Update datetime initially
    updateDateTime();

    // Update datetime every second
    setInterval(updateDateTime, 1000);
</script>
